<table class="table posts-list card card-strong">
        <tbody>
        <tr *ngFor="let post of posts">
            <td class="lesson-title">
                {{ post.text }}
            </td>
            <td>
                {{ post.city.name }}
            </td>
            <td>
                {{ post.city.latitude }}
            </td>
            <td>
                {{ post.city.longitude }}
            </td>
            <td>
                {{ post.city.temperature }}
            </td>
            <td>
                <button (click)="addcomment(post.id)">C</button>
            </td>
        </tr>
        </tbody>
</table>