<div class="container">
    <div class="row">
      <div class="col-md-6">
        <input id="input" #inputGet>
            <button class="button button-highlight" (click)=showGetRequest(inputGet.value)>Done (Get)</button>            
      </div>
      <div class="col-md-6" >
        <input id="input" #inputPost>
            <button class="button button-highlight  width: 80%" (click)=showPostRequest(inputPost.value)>Done (Post)</button>
      </div>
      <div class="row">
        <div class="text-container col-md-6">
            <span>{{ postGet.name }}</span>
        </div>
        <div class="text-container col-md-6">
            <span>{{ postPost.name }}</span>
        </div>
      </div>
    </div>
</div>



